@section locationselectorsection {
    <link href="@Url.Content("/css/location-selector-style.css")" rel="stylesheet" type="text/css"/>
}

@model IEnumerable<TransportCenter>

<script type="text/javascript">
    function setStartLocation(location, id) {
        document.getElementById("startLoc").innerText = location;
        document.getElementById("startLocation").value = location;
        document.getElementById("locidstart").value = id;
    }

    function setEndLocation(location, id) {
        document.getElementById("endLoc").innerText = location;
        document.getElementById("endLocation").value = location;
        document.getElementById("locidend").value = id;
    }

    function setParamsAndNavigate() {
        var start = document.getElementById("startLoc").innerText;
        var end = document.getElementById("endLoc").innerText;
        var params = {
            startLoc: start,
            endLoc: end

        };
        @*location.href = '@Url.Action("ParcelInformationPage", "ParcelInformation", new {"startLoc": start})'; -->*@
    }
</script>

<div class="bg">
    <div class="row inner-frame">
        <div class="column">
            <img class="map" src="/images/Map.jpg"/>
        </div>
        <div class="column">
            <div style="margin-top: 10%">

                <div style="float: right; padding-right: 30%">
                    <label>Delivery from</label>
                    <div class="btn-group">
                        <button id="startLoc" class="dropdown-btn btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @ViewBag.startLocation
                        </button>
                        <ul class="dropdown-menu" style="height: auto; max-height: 200px; overflow-x: hidden;" role="menu">
                            @foreach (var location in Model)
                            {
                                <li>
                                    <a class="dropdown-item" onclick="setStartLocation('@location.Name', '@location.Id')">@location.Name</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <div style="float: right; padding-right: 30%">
                    <div class="break"></div>
                    <label>Delivery to</label>
                    <div class="btn-group">
                        <button id="endLoc" class="dropdown-btn btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @ViewBag.endLocation
                        </button>
                        <ul class="dropdown-menu" style="height: auto; max-height: 200px; overflow-x: hidden;" role="menu">
                            @foreach (var location in Model)
                            {
                                <li>
                                    <a class="dropdown-item" onclick="setEndLocation('@location.Name', '@location.Id')">@location.Name</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <form asp-action="Navigate" asp-controller="LocationSelector" method="POST">
                    <input type="hidden" id="startLocation" name="startLoc" value="">
                    <input type="hidden" id="locidstart" name="startid" value="">
                    <input type="hidden" id="locidend" name="endid" value="">
                    <input type="hidden" id="endLocation" name="endLoc" value="">
                    <input type="submit" class="flow-button btn btn-primary"></input>
                </form>
            </div>
        </div>
    </div>
    <img class="bottom-logo" src="../../images/telstar_logo.PNG"/>
</div>